RMQ_DSN_LIST=amqp://host.docker.internal:5672/
RMQ_EXCH_NAME=go-service
RMQ_EXCH_TYPE=direct
RMQ_QUEUE_NAME=go-service
RMQ_QUEUE_RKEY=

DB_USERNAME=root
DB_PASSWORD=111111
DB_HOST=host.docker.internal
DB_PORT=3307
DB_NAME=accounting_eda1
DB_CHARSET=utf8mb4
DB_REFRESH_INTERVAL=5m

DB_SLAVE_COUNT=2

DB_HOST_1=host.docker.internal
DB_HOST_2=host.docker.internal

HTTP_PORT=8080
GRPC_PORT=9080
GRPC_SERVER_REFLECTION=true

LOG_LEVEL=debug
ELK_LOG_RABBITMQ=
ELK_LOG_LEVEL=warn
ELK_LOG_EXCHANGE=
ELASTIC_LOG_CATEGORY=go-service
PARTNER_NAME=dev-local

DISABLE_SWAGGER_HTTP_HANDLER=true
ENVIRONMENT=prod
GIN_MODE=release

PREFIX=go-service